*.tgz
*.tar.xz
*.tar
.gitattributes

# Ignore Containerlab runtime directories
clab-*/
.clab/
# vrnetlab source (if you don't want to track the tool itself)
vrnetlab/

# vrnetlab build artifacts
built-image-sha-*
cidfile

*.zip